body{
    margin: 0;
    background-color: #f1ddca;
}
a{
    text-decoration: none;
    color: #a14434;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    height: 6vh;
    width: 100%;
}
.logo{
    font-size: 1.6em;
    font-weight: 600;
    padding-left: 6vh;
}

.list{
    display: flex;
    gap: 6em;
    font-size: 16px;
    color: #b56f63;
}
.list a:hover{
    border-bottom: 2px solid #a14434;
}

.button{
    font-size: 1em;
}

button{
    background-color: #a14434;
    padding: 1vh 2vh;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

button:hover{
    background-color: #843b2e;
}
.block{
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #fff;
}

h1{
    font-size: 2em;
    font-weight: 400;
    margin: 10px 30px;
}
input{
    margin: 0 15px;
    padding: 10px;
    border: 1px solid #a4a4a4;
}
.form a{
    font-size: 15px;
    margin: 0 15px;
}

.form button{
    margin: 20px 100px;
    padding: 0.7em;
}

@media only screen and (max-width:520px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        height: 10vh;
        width: 100%;
    }
    .logo{
        font-size: 1.8em;
        padding:0;
        display: flex;
        margin-left: 2vh;
    }
    .button{
        margin: 0 2vh;
        padding: 1vh 3vh;
        display: flex;
        order: 1;
    }
    .list{
        margin: 0;
        display: flex;
        justify-self: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 18px;
        order: 2;
        width: 100%;
    }
}